{% extends 'base.html.twig' %}

{% block head %}
    <!-- inject:css -->
    <link rel="stylesheet" href="/assets/build/css/legacy-app.css">
    <!-- endinject -->
    {% block stylesheets %}{% endblock %}
    {{ app.environment == 'prod' ? include('_shared/_piwik.html.twig') }}
{% endblock %}

{% block bottom %}
    <!-- inject:js -->
    <script src="/assets/build/js/legacy-app.js"></script>
    <!-- endinject -->
    {% block javascripts %}{% endblock %}
{% endblock %}

{% block root %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand{{ app.request.get('_route') != 'homepage' ? ' tipprunde' }}" href="{{ path('homepage') }}">haus23.net</a>
            </div>
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{{ app.request.get('_route') == 'homepage' ? 'active' }}"><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="http://haus23.de/">Forum</a></li>
                    <li class="{{ app.request.pathinfo starts with '/tipprunde' ? 'active' }}"><a href="{{ path('ranking') }}">Tipprunde</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('dtp.dashboard') }}">Verwaltung</a></li>
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                    {% else %}
                        <li class="{{ app.request.get('_route') == 'login' ? 'active' }}"><a href="{{ path('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div id="container" class="container">
        {% block body %}{% endblock %}
    </div>
{% endblock %}
