{% extends 'dtp/backend/_shared/dialog.modal.html.twig' %}

{% set dialogtitle = 'Neues Spiel' %}
{% block dialogbody %}
    {{ form_start(form) }}
    {{ form_row(form.date) }}
    <div class="form-group dtp-select">
        {{ form_label(form.league) }}
        <div class="dtp-inline">
            {{ form_widget(form.league) }}
            {{ form_widget(form.addLeague, { 'attr': { 'data-url': path('dtp.league.create')}}) }}
        </div>
    </div>
    <div class="form-group dtp-select">
        {{ form_label(form.hometeam) }}
        <div class="dtp-inline">
            {{ form_widget(form.hometeam) }}
            {{ form_widget(form.addHTeam, { 'attr': { 'data-url': path('dtp.team.create')}}) }}
        </div>
    </div>
    <div class="form-group dtp-select">
        {{ form_label(form.awayteam) }}
        <div class="dtp-inline">
            {{ form_widget(form.awayteam) }}
            {{ form_widget(form.addATeam, { 'attr': { 'data-url': path('dtp.team.create')}}) }}
        </div>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
