{% extends 'dtp/backend/_shared/dialog.html.twig' %}
{% set dialogtitle = 'Neue Mannschaft' %}
{% block dialogbody %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.shortname) }}
        {{ form_row(form.slug) }}
        <div class="form-group">
            {{ form_widget(form.save) }}
            {{ form_widget(form.saveAndAdd) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
