{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div id="dtp-nav" class="col-sm-3">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="{{ app.request.get('_route') == 'ranking' ? 'active' }}">
                <a href="{{ path('ranking', { 'championshipSlug': championship.slug}) }}">Tabelle</a>
                </li>
                <li role="presentation" class="{{ app.request.get('_route') == 'players' ? 'active' }}">
                <a href="{{ path('players', { 'championshipSlug': championship.slug}) }}">Spieler</a>
                </li>
                <li role="presentation" class="{{ app.request.get('_route') == 'matches' ? 'active' }}">
                <a href="{{ path('matches', { 'championshipSlug': championship.slug}) }}">Spiele</a>
                </li>
                <li role="presentation" class="{{ app.request.get('_route') == 'tips' ? 'active' }}">
                <a href="{{ path('tips', { 'championshipSlug': championship.slug}) }}">Tipps</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
        </div>
    </div>
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    {% block content %}{% endblock %}
{% endblock %}