{% extends 'dtp/standings/_layout.html.twig' %}

{% block title %}{{ player.user.name }} - {{ parent() }}{% endblock %}

{% block content %}
    <div id="players-view">
        <h3>Resultate für
            <a href="#" data-toggle="modal" data-target="#playerSelect">{{ player.user.name }}</a>
        </h3>
        <div class="modal fade" id="playerSelect" tabindex="-1" role="dialog" aria-labelledby="playerSelectLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="playerSelectLabel">Spieler</h4>
                    </div>
                    <div class="modal-body">
                        <div class="list-group">
                            {% for p in players %}
                                <a href="{{ path('players', {'championshipSlug': championship.slug,'userSlug': p.user.slug}) }}"
                                   class="list-group-item{{ player.user.slug == p.user.slug ? ' active' }}">
                                    {{ p.user.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="heading-total">
    <div class="row">
        <div class="col-xs-4 col-sm-3">
            <h4 class="panel-title">
                Gesamt
            </h4>
        </div>
        <div class="col-xs-4 col-sm-3 small text-right">Sp: {{ stats.total.playedMatches }}
            {{ stats.total.totalMatches != stats.total.playedMatches ? '(' ~ stats.total.totalMatches ~ ')' }}
        </div>
        <div class="hidden-xs col-sm-3 small text-right">&#x2300: {{ stats.total.average | number_format(2,',') }}</div>
        <div class="col-xs-4 col-sm-3 small text-right">Pkte: {{ stats.total.points }}</div>
    </div>
            </div>
        </div>
        <div class="panel-group clickable-heading" id="playerAccordion" role="tablist" aria-multiselectable="true">
            {% for r in rounds %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{ r.nr }}">
                        <div class="row">
                            <div class="col-xs-4 col-sm-3">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#playerAccordion"
                                       href="#runde{{ r.nr }}" aria-expanded="true" aria-controls="runde{{ r.nr }}">
                                        Runde {{ r.nr }}
                                    </a>
                                </h4>
                            </div>
                            <div class="col-xs-4 col-sm-3 small text-right">Sp: {{ stats[r.id].playedMatches }}
                                {{ stats[r.id].totalMatches != stats[r.id].playedMatches ? '(' ~ stats[r.id].totalMatches ~ ')' }}</div>
                            <div class="hidden-xs col-sm-3 small text-right">&#x2300: {{ stats[r.id].average | number_format(2,',') }}</div>
                            <div class="col-xs-4 col-sm-3 small text-right">Pkte: {{ stats[r.id].points }}</div>
                        </div>

                    </div>
                    <div id="runde{{ r.nr }}"
                         class="panel-collapse collapse{{ (loop.first and championship.completed) or (loop.last and not championship.completed) ? ' in' }}"
                         role="tabpanel" aria-labelledby="heading{{ r.nr }}">
                        <div class="panel-body">
                            <table class="table clickable-rows">
                                <thead class="hidden-xs">
                                <tr>
                                    <th>Datum</th>
                                    <th>Spiel</th>
                                    <th class="text-center">Tipp</th>
                                    <th class="text-center">Ergebnis</th>
                                    <th class="text-center">Punkte</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for m in r.matches %}
                                    {% set double = (tips[m.id] is defined) and tips[m.id] ? tips[m.id].joker or tips[m.id].zusatzjoker or tips[m.id].sonder : false %}
                                    {% set doubleClass = double ? ' success' : '' %}
                                    <tr id="m{{ m.id }}" class="hidden-xs{{ doubleClass }}">
                                        <td>{{ m.datum | date("d.m.Y") }}</td>
                                        <td>
                                            <a href="{{ path('tips', { 'championshipSlug': championship.slug, 'round': 'runde-' ~ r.nr, 'matchId': m.id, 'fixture': m.slug}) }}">
                                                {{ m.paarung }}
                                            </a>
                                        </td>
                                        <td class="text-center{{ doubleClass }}">{{ (tips[m.id] is defined) and tips[m.id] ? tips[m.id].tipp }}</td>
                                        <td width="32px" class="text-center">{{ m.ergebnis }}</td>
                                        <td class="text-center">{{ (tips[m.id] is defined) and tips[m.id] ? tips[m.id].punkte }}</td>
                                    </tr>
                                    <tr class="visible-xs{{ doubleClass }}">
                                        <td colspan="2">
                                            <a href="{{ path('tips', { 'championshipSlug': championship.slug, 'round': 'runde-' ~ r.nr, 'matchId': m.id, 'fixture': m.slug}) }}">
                                                {{ m.paarung }}
                                            </a></td>
                                        <td class="text-right">{{ m.ergebnis }}</td>
                                    </tr>
                                    <tr class="visible-xs details{{ doubleClass }}">
                                        <td>{{ m.datum | date("d.m.Y") }}</td>
                                        <td>Tipp: {{ (tips[m.id] is defined) and tips[m.id] ? tips[m.id].tipp }}</td>
                                        <td width="60px"
                                            class="text-right">{{ m.ergebnis ? 'Pkt: ' ~ ((tips[m.id] is defined) and tips[m.id] ? tips[m.id].punkte) }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if not championship.completed %}
        <script>
            $lastMatch = $('#m{{ lastMatchId }}');
            if ($lastMatch.css('display') == 'none') {
                $lastMatch = $lastMatch.next();
            }
            $('html, body').animate({ scrollTop: $lastMatch.offset().top }, 'slow');
        </script>
    {% endif %}
{% endblock  %}