{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for c in championships %}
            <li>
                <a href="{{ path('ranking', {'championshipSlug': c.slug}) }}">
                    {{ c.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for p in players %}
            <li>
                <a href="{{ path('players', {'championshipSlug': championship.slug,'userSlug': p.user.slug}) }}">
                    {{ p.user.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div id="content">
        <h2>Resultate für {{ player.user.name }}</h2>
        {% for r in rounds %}
            <h3>Runde {{ r.nr }}</h3>
            <table>
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Spiel</th>
                    <th>Tipp</th>
                    <th>Ergebnis</th>
                    <th>Punkte</th>
                </tr>
                </thead>
                <tbody>
                {% for m in r.matches %}
                    <tr>
                        <td>{{ m.datum | date("d.m.Y")}}</td>
                        <td>{{ m.paarung }}</td>
                        <td>{{ tips[m.id] ? tips[m.id].tipp }}</td>
                        <td>{{ m.ergebnis }}</td>
                        <td>{{ tips[m.id] ? tips[m.id].punkte }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}
