{% extends 'dtp/standings/_layout.html.twig' %}

{% block content %}
        <h3 class="hidden-xs">{{ championship.completed ? 'Abschlusstabelle' : 'Aktuelle Tabelle' }}</h3>
        <table class="table">
            <thead>
            <tr>
                <th class="text-right">Platz</th>
                <th>Name</th>
                {% if championship.completed %}
                    <th class="text-center">Zusatzpkt</th>
                {% endif %}
                <th class="text-center">Punkte</th>
            </tr>
            </thead>
            <tbody>
            {% for p in players %}
                <tr>
                    <td width="36px" class="text-right">{{ loop.index == p.platz ? p.platz ~ '.' }}</td>
                    <td>
                        <a href="{{ path('players', { 'championshipSlug': championship.slug, 'userSlug': p.user.slug}) }}">
                            {{ p.user.name }}
                        </a>
                    </td>
                    {% if championship.completed %}
                        <td width="60px" class="text-center">{{ p.zusatz }}</td>
                    {% endif %}
                    <td width="60px" class="text-center">{{ p.gesamt }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
