{% extends 'dtp/standings/_layout.html.twig' %}

{% block title %}{{ championship.completed ? 'Abschlusstabelle' : 'Aktuelle Tabelle' }} - {{ parent() }}{% endblock %}

{% block content %}
        <script>
            var currentTips = {{ tips | json_encode | raw }};
        </script>
        <h3 class="hidden-xs">{{ championship.completed ? 'Abschlusstabelle' : 'Aktuelle Tabelle' }}</h3>
        <table id="ranking" class="table clickable-rows">
            <thead>
            <tr>
                <th class="text-right">Platz</th>
                <th>Name</th>
                {% if championship.completed %}
                    <th class="text-center">Zusatzpkt</th>
                {% endif %}
                <th class="text-center">Punkte</th>
            </tr>
            </thead>
            <tbody>
            {% for p in players %}
                <tr>
                    <td width="36px" class="text-right">{{ loop.index == p.platz ? p.platz ~ '.' }}</td>
                    <td>
                        <a href="{{ path('players', { 'championshipSlug': championship.slug, 'userSlug': p.user.slug}) }}">
                            {{ p.user.name }}
                        </a>
                        {% if tips %}
                        <a class="toggle-popover" role="button"
                           data-toggle="popover"
                           data-viewport='{ "selector": "body", "padding": 0 }'
                           data-trigger="click focus hover"
                           data-player-id="{{ p.id }}"
                           title="Aktuelle Tipps von {{ p.user.name }}"
                        >
                            <span class="glyphicon glyphicon-paperclip"></span>
                        </a>
                        {% endif %}
                    </td>
                    {% if championship.completed %}
                        <td width="60px" class="text-center">{{ p.zusatz }}</td>
                    {% endif %}
                    <td width="60px" class="text-center">{{ p.gesamt }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
