{% extends 'dtp/standings/_layout.html.twig' %}

{% block content %}
        <h3 class="hidden-xs">{{ championship.completed ? 'Abschlusstabelle' : 'Aktuelle Tabelle' }}</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Platz</th>
                <th>Name</th>
                {% if championship.completed %}
                    <th>Zusatzpunkte</th>
                {% endif %}
                <th>Punkte</th>
            </tr>
            </thead>
            <tbody>
            {% for p in players %}
                <tr>
                    <td>{{ loop.index == p.platz ? p.platz ~ '.' }}</td>
                    <td>{{ p.user.name }}</td>
                    {% if championship.completed %}
                        <td>{{ p.zusatz }}</td>
                    {% endif %}
                    <td>{{ p.gesamt }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
