{% extends '_shared/backend.layout.html.twig' %}

{% block title %}Runde {{ round.nr }} - {{ dtp.tournament.name }} - haus23.net{% endblock %}
{% block body %}
    <h2>Runde {{ round.nr }}</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nr</th>
            <th>Datum</th>
            <th>Liga</th>
            <th>Paarung</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for m in matches %}
        <tr>
            <td>{{ m.nr }}</td>
            <td>{{ m.date ? m.date | date('d.m.Y') }}</td>
            <td>{{ m.league ? m.league.name : 'TBA' }}</td>
            {% set fixture = (m.hometeam ?: 'TBA') ~ ' - ' ~ (m.awayteam ?: 'TBA') %}
            <td>{{ fixture == 'TBA - TBA' ? 'TBA' : fixture }}</td>
            <td>
                <a href="{{ path('dtp.match.update', { 'id': m.id }) }}" class="btn btn-default" aria-label="Bearbeiten">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        $('.dtp-select button').click(function () {
            var $selectBox = $(this).prevAll('select');
            var dialogUrl = $(this).data('url');
            $.get(dialogUrl).then(function (dialog) {
                var $dialog = $(dialog);
                $('form', $dialog).submit(function () {
                    $.post(dialogUrl, $(this).serialize()).then(function (response) {
                        toastr.success(response.msg);
                        var $option = $('<option></option>').val(response.data.id).html(response.data.text);
                        $selectBox.append($option).val(response.data.id);
                        $dialog.modal('hide');
                    });
                    return false;
                });
                $dialog.appendTo(document.body).modal('show');
            });
            return false;
        });

    </script>
{% endblock %}
