{% extends 'dtp/backend/_shared/backend.layout.html.twig' %}

{% block title %}Runde {{ round.nr }} - {{ dtp.tournament.name }} - haus23.net{% endblock %}
{% block body %}
    <h2>Runde {{ round.nr }}</h2>
    {{ render(controller('AppBundle:Dtp/Backend/Match:edit', { 'roundId': round.id, 'matchId': matchId })) }}
    {{ include('dtp/backend/round/_matches.html.twig', { 'matches': matches }) }}
{% endblock %}

{% block javascripts %}
    <script>
        $('.dtp-select button').click(function () {
            var $selectBox = $(this).prevAll('select');
            var dialogUrl = $(this).data('url');
            $.get(dialogUrl).then(function (dialog) {
                var $dialog = $(dialog);
                $('form', $dialog).submit(function () {
                    $.post(dialogUrl, $(this).serialize()).then(function (response) {
                        toastr.success(response.msg);
                        var $option = $('<option></option>').val(response.data.id).html(response.data.text);
                        $selectBox.append($option).val(response.data.id);
                        $dialog.modal('hide');
                    });
                    return false;
                });
                $dialog.appendTo(document.body).modal('show');
            });
            return false;
        });

    </script>
{% endblock %}
